<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>Orders</h2>

        <div fxLayout="row" class="container">
          <div fxFlex="54" fxLayoutAlign="start center" fxFlexOffset="2">
            <form [formGroup]="form">
              <mat-form-field appearance="legacy">
                <mat-label>Search</mat-label>
                <input
                  matInput
                  placeholder="e.g john smith"
                  formControlName="search"
                />
                <mat-icon matSuffix>search</mat-icon>
                <mat-hint>By customer or status</mat-hint>
              </mat-form-field>
            </form>
          </div>
        </div>  

        <div class="mat-elevation-z1">
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            style="width: 100%;"
          >
            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let order">{{ order.id }}</td>
            </ng-container>

            <!-- Customer Column -->
            <ng-container matColumnDef="customerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
              <td mat-cell *matCellDef="let order">{{ element.customerName }}</td>
            </ng-container>

            <!-- Created date Column -->
            <ng-container matColumnDef="createdDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created date</th>
              <td mat-cell *matCellDef="let order">{{ order.createdDate | localDate: 'dd/MM/YYYY HH:mi:ss' }}</td>
            </ng-container>

            <!-- Due date Column -->
            <ng-container matColumnDef="dueDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Due date</th>
              <td mat-cell *matCellDef="let order">{{ order.dueDate | localDate: 'dd/MM/YYYY HH:mi:ss' }}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let order">{{ order.status }}</td>
            </ng-container>

            <!-- Priority status Column -->
            <ng-container matColumnDef="priorityStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority status</th>
              <td mat-cell *matCellDef="let order">{{ order.priorityStatus }}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              [ngClass]="{ selected: selection.isSelected(row) }"
              (click)="selection.select(row)"
            ></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[10, 20, 50]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
