<div class="container animate" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>New production status</h2>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="end center" fxFlex="90">
            <form [formGroup]="form">
              <mat-form-field appearance="legacy" class="full-width">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="Status name"
                  formControlName="name"
                />
              </mat-form-field>
              <mat-radio-group
                aria-label="Select an option"
                formControlName="status"
              >
                <mat-radio-button value="1" checked="true"
                  >Active</mat-radio-button
                >
                <mat-radio-button value="0">Inactive</mat-radio-button>
              </mat-radio-group>
            </form>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="action-form">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50">
            <button
              mat-raised-button
              color="primary"
              [disabled]="form.invalid"
              (click)="createProductionStatus(this.form)"
            >
              Save
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <h2>List production status</h2>

        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
            <div fxLayout="row" fxFlexAlign="center center" class="header-list">
              <div fxFlex="50">
                <h4>Name</h4>
              </div>
              <div fxFlex="40">
                <h4>State</h4>
              </div>
            </div>
            <mat-list>
              <mat-list-item *ngFor="let state of states">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                  <div fxFlex="40">
                    <span slot="start">{{ state.description }}</span>
                  </div>
                  <div fxFlex="50">
                    <span>
                      {{ state.statusId == 1 ? "Active" : "Inactive" }}
                    </span>
                  </div>
                  <div fxFlex="10">
                    <button mat-icon-button (click)="openDialog(state.id)">
                      <mat-icon matListIcon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
