<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>Downtimes</h2>

          <div fxLayout="row" class="container">
            <div fxFlex="54" fxLayoutAlign="start center" fxFlexOffset="2">
              <form [formGroup]="form">
                <mat-form-field appearance="legacy">
                  <mat-label>Search</mat-label>
                  <input
                    matInput
                    placeholder="e.g john smith"
                    formControlName="search"
                  />
                  <mat-icon matSuffix>search</mat-icon>
                  <mat-hint>By item, user or type</mat-hint>
                </mat-form-field>
              </form>
            </div>
  
            <div fxFlex="42" fxLayoutAlign="end center">
              <button
                mat-raised-button
                color="warn"
                class="action-machine"
                (click)="goToNewDowntimeType()"
              >
                <mat-icon>add</mat-icon>
                Add type
              </button>
            </div>
          </div>
  
          <div fxLayout="row" class="container">
            <div fxFlex="96" class="mat-elevation-z2 container" fxFlexOffset="2">
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                  <!-- Id Column -->
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="masterSelect($event)"
                      [indeterminate]="isIndeterminate && !isAllSelected()"
                    >
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let downtime">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      [checked]="downtime.checked"
                      [(ngModel)]="downtime.checked"
                      (change)="isIndeterminate = $event.checked"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
                  <td mat-cell *matCellDef="let downtime">
                    {{ downtime.item }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="user">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                  <td mat-cell *matCellDef="let downtime">
                    {{ downtime.user }}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                  <td mat-cell *matCellDef="let downtime">
                    {{ downtime.type }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="detailId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Detail Id</th>
                  <td mat-cell *matCellDef="let downtime">
                    {{ downtime.detailId }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="startTime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Start time</th>
                  <td mat-cell *matCellDef="let downtime">
                    {{ downtime.startTime }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="finishTime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Finish time</th>
                  <td mat-cell *matCellDef="let downtime">
                    {{ downtime.finishTime }}
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
  
              <mat-paginator
                [pageSizeOptions]="[10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
  
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>